*.pyc
__pycache__/
.DS_Store
.idea/
/examples/.ipynb_checkpoints
examples/Maxwellian_bend_for_ptc.txt
examples/Maxwellian_bend_for_ptc_electric.txt
examples/internal_mag_pot.txt
examples/ptc_twiss.outx
examples/sectormap
examples/ptctrackone.tfs
examples/survey.out
examples/tracking.outxone
examples/twiss.outx
