[submodule "lib/pybdsim"]
	path = lib/pybdsim
	url = https://github.com/chernals/pybdsim.git
[submodule "lib/pymadx"]
	path = lib/pymadx
	url = https://github.com/chernals/pymadx.git
[submodule "lib/pytransport"]
	path = lib/pytransport
	url = https://github.com/chernals/pytransport.git
